body {
    background: linear-gradient(to left top, yellow, lightblue, yellow);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: darkcyan;
}

.content {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    max-width: 450px;
    width: 85%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.input {
    outline: none;
    padding: 10px;
    width: 70%;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    color: darkgreen;
    border-radius: 10px;
}

#error {
    color: red;
}